

<!-- IF .draftrow -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_LOAD_DRAFT}</h3>
		<p>{L_LOAD_DRAFT_EXPLAIN}</p>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="forums-wrapper">
		<table class="forums <!-- IF not S_PRIVMSGS --> topics<!-- ELSE --> cplist<!-- ENDIF -->">
			<thead>
				<tr>
					<th>{L_LOAD_DRAFT}</th>
					<th class="last-post">{L_SAVE_DATE}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN draftrow -->
					<tr class="<!-- IF draftrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
						<td class="topic">
							<h4><a href="{draftrow.U_INSERT}" title="{L_LOAD_DRAFT}" class="topictitle">{draftrow.DRAFT_SUBJECT}</a></h4>
							<!-- IF not S_PRIVMSGS -->
								<!-- IF draftrow.S_LINK_TOPIC -->
									<p>{L_TOPIC}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a><p>
								<!-- ELSEIF draftrow.S_LINK_FORUM -->
									<p>{L_FORUM}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></p>
								<!-- ELSE -->
									<p>{L_NO_TOPIC_FORUM}</p>
								<!-- ENDIF -->
							<!-- ENDIF -->
						</td>
						<td class="bg2"><p>{draftrow.DATE}</p></td>
					</tr>
				<!-- END draftrow -->
			</tbody>
		</table>
	</div>
<!-- ENDIF -->
