<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
				</tbody>
			</table>
		</div>
	<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div class="forums-wrapper">
			<table class="forums">
				<thead>
					<th colspan="2"><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></th>
					<th class="statistics">{L_STATISTICS}</th>
					<th class="last-post">{L_LAST_POST}</th>
				</thead>
				<tbody>
	<!-- ENDIF -->

	<!-- IF not forumrow.S_IS_CAT -->
		<tr class="<!-- IF forumrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
			<!-- IF forumrow.FORUM_IMAGE -->
				<td class="icon bg2">{forumrow.FORUM_IMAGE}</td>
			<!-- ELSE -->
				<td class="icon bg2" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC});"></td>
			<!-- ENDIF -->
			<td class="forum">
				<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><!--<a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a>--><!-- ENDIF -->
				<h4><a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a></h4>
				<p>{forumrow.FORUM_DESC}</p>
				<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><p><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}</p><!-- ENDIF -->
				<!-- IF forumrow.MODERATORS --><p><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}</p><!-- ENDIF -->
			</td>
			<!-- IF forumrow.CLICKS -->
				<td colspan="2"><p>{L_REDIRECTS}: <strong>{forumrow.CLICKS}</strong></p></td>
			<!-- ELSEIF not forumrow.S_IS_LINK -->
				<td class="bg2">
					<p>{L_TOPICS}: <strong>{forumrow.TOPICS}</strong></p>
					<p>{L_POSTS}: <strong>{forumrow.POSTS}</strong></p>
				</td>
				<td class="forum">
					<!-- IF forumrow.LAST_POST_TIME -->
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}" class="left-box last-post-img">{LAST_POST_IMG}</a><!-- ENDIF -->
						<p>{forumrow.LAST_POST_TIME}</p>
						<p>{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}</p>
					<!-- ELSE -->
						<p style="text-align: center;">{L_NO_POSTS}</p>
					<!-- ENDIF -->
				</td>
			<!-- ENDIF -->
		</tr>
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
				</tbody>
			</table>
		</div>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			
		<strong>{L_NO_FORUMS}</strong>
		
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- END forumrow -->