<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_header.html -->
	<!-- INCLUDE memberlist_search.html -->
	<form method="post" id="results" action="{S_MODE_ACTION}" onsubmit="insert_marked(this.user); return false">
<!-- ELSEIF S_SEARCH_USER -->
	<!-- INCLUDE overall_header.html -->	
	<!-- INCLUDE memberlist_search.html -->
	<form method="post" action="{S_MODE_ACTION}">
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
	<form method="post" action="{S_MODE_ACTION}">
<!-- ENDIF -->

	<!-- IF S_SHOW_GROUP -->
		<h2<!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR};"<!-- ENDIF -->>{GROUP_NAME}</h2>
		<p>{GROUP_DESC} {GROUP_TYPE}</p>
	<!-- ELSE -->
		<h2>{PAGE_TITLE}<!-- IF SEARCH_WORDS -->: <a href="{U_SEARCH_WORDS}">{SEARCH_WORDS}</a><!-- ENDIF --></h2>

		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist">
				<li>
					<!-- IF U_FIND_MEMBER and not S_SEARCH_USER --><a href="{U_FIND_MEMBER}">{L_FIND_USERNAME}</a> &bull; <!-- ELSEIF S_SEARCH_USER and U_HIDE_FIND_MEMBER and not S_IN_SEARCH_POPUP --><a href="{U_HIDE_FIND_MEMBER}">{L_HIDE_MEMBER_SEARCH}</a> &bull; <!-- ENDIF -->
					<strong style="font-size: 0.95em;"><a href="{S_MODE_ACTION}&amp;first_char=">{L_ALL}</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=a#memberlist">A</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=b#memberlist">B</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=c#memberlist">C</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=d#memberlist">D</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=e#memberlist">E</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=f#memberlist">F</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=g#memberlist">G</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=h#memberlist">H</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=i#memberlist">I</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=j#memberlist">J</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=k#memberlist">K</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=l#memberlist">L</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=m#memberlist">M</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=n#memberlist">N</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=o#memberlist">O</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=p#memberlist">P</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=q#memberlist">Q</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=r#memberlist">R</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=s#memberlist">S</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=t#memberlist">T</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=u#memberlist">U</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=v#memberlist">V</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=w#memberlist">W</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=x#memberlist">X</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=y#memberlist">Y</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=z#memberlist">Z</a>&nbsp; 
					<a href="{S_MODE_ACTION}&amp;first_char=other">#</a></strong>
				</li>
				<li class="rightside pagination">
					{TOTAL_USERS} &bull; 
					<!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF -->
				</li>
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

	<!-- IF S_LEADERS_SET or not S_SHOW_GROUP or not .memberrow -->
		<div class="forums-wrapper">
			<table class="forums">
				<thead>
					<th class="name"><a href="{U_SORT_USERNAME}"><!-- IF S_SHOW_GROUP and .memberrow -->{L_GROUP_LEADER}<!-- ELSE -->{L_USERNAME}<!-- ENDIF --></a></th>
					<th class="posts"><a href="{U_SORT_POSTS}">{L_POSTS}</a></th>
					<th class="location"><a href="{U_SORT_LOCATION}">{L_LOCATION}</a></th>
					<th class="profile">{L_ABOUT_USER}</th>
					<th class="joined"><a href="{U_SORT_JOINED}">{L_JOINED}</a></th>
					<!-- IF U_SORT_ACTIVE --><th class="active"><a href="{U_SORT_ACTIVE}">{L_LAST_ACTIVE}</a></th><!-- ENDIF -->
				</thead>
				<tbody>
	<!-- ENDIF -->
	
	<!-- BEGIN memberrow -->
		<!-- IF S_SHOW_GROUP -->
			<!-- IF not memberrow.S_GROUP_LEADER and not $S_MEMBER_HEADER -->
				
				<!-- IF S_LEADERS_SET -->
							</tbody>
						</table>
					</div>
				<!-- ENDIF -->
				
				<div class="forums-wrapper">
					<table class="forums">
						<thead>
							<!-- IF not S_LEADERS_SET -->
								<th class="name"><a href="{U_SORT_USERNAME}"><!-- IF S_SHOW_GROUP -->{L_GROUP_MEMBERS}<!-- ELSE -->{L_USERNAME}<!-- ENDIF --></a></th>
							<!-- ELSEIF S_SHOW_GROUP -->
								<th class="name"><a href="{U_SORT_USERNAME}">{L_GROUP_MEMBERS}</a></th>
							<!-- ENDIF -->
							<th class="posts"><a href="{U_SORT_POSTS}">{L_POSTS}</a></th>
							<th class="location"><a href="{U_SORT_LOCATION}">{L_LOCATION}</a></th>
							<th class="profile">{L_ABOUT_USER}</th>
							<th class="joined"><a href="{U_SORT_JOINED}">{L_JOINED}</a></th>
							<!-- IF U_SORT_ACTIVE --><th class="active"><a href="{U_SORT_ACTIVE}">{L_LAST_ACTIVE}</a></th><!-- ENDIF -->
						</thead>
						<tbody>	
							
						<!-- DEFINE $S_MEMBER_HEADER = 1 -->
			<!-- ENDIF -->
		<!-- ENDIF -->
		
		<tr class="<!-- IF memberrow.S_ROW_COUNT is odd -->bg2<!-- ELSE -->bg1<!-- ENDIF -->">
			<td>
				<p>{memberrow.USERNAME_FULL}</p>
				<p><!-- IF memberrow.RANK_IMG -->{memberrow.RANK_IMG}<!-- ELSE -->{memberrow.RANK_TITLE}<!-- ENDIF --></p>
				<p>
					<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --><input type="checkbox" name="user" value="{memberrow.USERNAME}" /><!-- ENDIF -->
					<!-- IF S_SELECT_SINGLE -->[ <a href="#" onclick="insert_single('{memberrow.A_USERNAME}'); return false;">{L_SELECT}</a> ]<!-- ENDIF -->
				</p>
			</td>
			<td class="bg2"><p><!-- IF memberrow.POSTS and S_DISPLAY_SEARCH --><a href="{memberrow.U_SEARCH_USER}" title="{L_SEARCH_USER_POSTS}">{memberrow.POSTS}</a><!-- ELSE -->{memberrow.POSTS}<!-- ENDIF --></p></td>
			<td><p><!-- IF memberrow.LOCATION -->{memberrow.LOCATION}<!-- ELSE -->-<!-- ENDIF --></p></td>
			<td class="bg2">
				<ul class="profile-icons">
					<!-- IF memberrow.U_PM --><li class="pm-icon"><a href="{memberrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
					<!-- IF memberrow.U_EMAIL --><li class="email-icon"><a href="{memberrow.U_EMAIL}" title="{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}"><span>{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}</span></a></li><!-- ENDIF -->
					<!-- IF memberrow.U_WWW --><li class="web-icon"><a href="{memberrow.U_WWW}" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
					<!-- IF memberrow.U_MSN --><li class="msnm-icon"><a href="{memberrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
					<!-- IF memberrow.U_ICQ --><li class="icq-icon"><a href="{memberrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
					<!-- IF memberrow.U_YIM --><li class="yahoo-icon"><a href="{memberrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
					<!-- IF memberrow.U_AIM --><li class="aim-icon"><a href="{memberrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
					<!-- IF memberrow.U_JABBER --><li class="jabber-icon"><a href="{memberrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
				</ul>
			</td>
			<td><p>{memberrow.JOINED}</p></td>
			<!-- IF S_VIEWONLINE --><td class="bg2"><p>{memberrow.VISITED}</p></td><!-- ENDIF -->
		</tr>
	<!-- BEGINELSE -->
		<tr class="bg1">
			<td colspan="<!-- IF S_VIEWONLINE -->6<!-- ELSE -->5<!-- ENDIF -->">{L_NO_MEMBERS}</td>
		</tr>
	<!-- END memberrow -->
	
				</tbody>
			</table>
		</div>

<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE -->
	<fieldset class="display-actions">
		<input type="submit" name="submit" value="{L_SELECT_MARKED}" class="button2" />
		<div><a href="#" onclick="marklist('results', 'user', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('results', 'user', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP -->
	</form>
	<form method="post" id="sort-results" action="{S_MODE_ACTION}">
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP and not S_SEARCH_USER -->
	<fieldset class="display-options">
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<label for="sk">{L_SELECT_SORT_METHOD}: <select name="sk" id="sk">{S_MODE_SELECT}</select></label> 
		<label for="sd">{L_ORDER} <select name="sd" id="sd">{S_ORDER_SELECT}</select> <input type="submit" name="sort" value="{L_SUBMIT}" class="button2" /></label>
	</fieldset>
<!-- ENDIF -->

</form>

<ul class="linklist">
	<li class="rightside pagination">{TOTAL_USERS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
</ul>

<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
	<!-- INCLUDE jumpbox.html -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->