<nav class="inventea-forum-menu">
	<ul class="inventea-menu">
		<!-- EVENT overall_header_navigation_prepend -->

		<li class="inventea-menu-item"><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a></li>
		<!-- IF S_DISPLAY_SEARCH --><li class="inventea-menu-item"><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH}</a></li><!-- ENDIF -->
		<!-- IF U_TEAM --><li class="inventea-menu-item"><a href="{U_TEAM}" title="{L_THE_TEAM}">{L_THE_TEAM}</a></li><!-- ENDIF -->
		
		<!-- IF not S_IS_BOT -->
			<!-- IF S_DISPLAY_MEMBERLIST --><li class="inventea-menu-item"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
			<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li class="inventea-menu-item"><a href="{U_REGISTER}" title="{L_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
			<li class="inventea-menu-item"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">{L_LOGIN_LOGOUT}</a></li>
		<!-- ENDIF -->

		<!-- EVENT overall_header_navigation_append -->
	</ul>
</nav>

<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
	<nav class="inventea-user-menu">
		<ul class="inventea-menu">
			<!-- IF S_NOTIFICATIONS_DISPLAY -->
				<li class="inventea-menu-item dropdown-container dropdown-{S_CONTENT_FLOW_END}" data-skip-responsive="true">
					<a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger" title="{L_NOTIFICATIONS}"><span>{L_NOTIFICATIONS} (</span><strong>{NOTIFICATIONS_COUNT}</strong><span>)</span></a>
					<!-- INCLUDE notification_dropdown.html -->
				</li>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_PM --><li class="inventea-menu-item"><a href="{U_PRIVATEMSGS}" title="{L_PRIVATE_MESSAGES}"><span>{L_PRIVATE_MESSAGES} (</span><strong>{PRIVATE_MESSAGE_COUNT}</strong><span>)</span></a></li><!-- ENDIF -->
			<li class="inventea-menu-item"><a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="e">{L_PROFILE}</a></li>
			<!-- IF S_DISPLAY_SEARCH --><li class="inventea-menu-item"><a href="{U_SEARCH_SELF}" title="{L_SEARCH_SELF}">{L_SEARCH_SELF}</a></li><!-- ENDIF -->
			<!-- IF U_RESTORE_PERMISSIONS --><li class="inventea-menu-item"><a href="{U_RESTORE_PERMISSIONS}" title="{L_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li><!-- ENDIF -->
			<!-- IF U_MCP --><li class="inventea-menu-item"><a href="{U_MCP}" title="{L_MCP}">{L_MCP}</a></li><!-- ENDIF -->
			<!-- IF U_ACP --><li class="inventea-menu-item"><a href="{U_ACP}" title="{L_ACP}">{L_ACP}</a></li><!-- ENDIF -->
		</ul>
	</nav>
<!-- ENDIF -->
