<ul class="inventea-footer-menu">
	<!-- IF U_SITE_HOME --><li class="inventea-footer-menu-item"><a href="{U_SITE_HOME}" title="{L_SITE_HOME}" data-navbar-reference="home">{L_SITE_HOME}</a></li><!-- ENDIF -->
	<li class="inventea-footer-menu-item"><a href="{U_INDEX}" title="{L_INDEX}" data-navbar-reference="index">{L_INDEX}</a></li>
	<!-- EVENT overall_footer_breadcrumb_append -->
	
	<!-- IF U_CONTACT_US --><li class="inventea-footer-menu-item"><a href="{U_CONTACT_US}" title="{L_CONTACT_US}">{L_CONTACT_US}</a></li><!-- ENDIF -->
	<!-- IF not S_IS_BOT --><li class="inventea-footer-menu-item"><a href="{U_DELETE_COOKIES}" title="{L_DELETE_COOKIES}" data-ajax="true" data-refresh="true">{L_DELETE_COOKIES}</a></li><!-- ENDIF -->
	
	<!-- EVENT overall_footer_timezone_before -->
	<li class="inventea-footer-menu-item">{S_TIMEZONE}</li>
	<!-- EVENT overall_footer_timezone_after -->
</ul>
