<nav role="navigation">
	<div class="inventea-forum-menu">
		<ul class="inventea-menu" role="menubar">
			<!-- EVENT navbar_header_quick_links_before -->

			<!-- IF S_DISPLAY_SEARCH -->
				<!-- IF S_REGISTERED_USER --><li class="inventea-menu-item"><a href="{U_SEARCH_SELF}" role="menuitem">{L_SEARCH_SELF}</a></li><!-- ENDIF -->
				<!-- IF S_USER_LOGGED_IN --><li class="inventea-menu-item"><a href="{U_SEARCH_NEW}" role="menuitem">{L_SEARCH_NEW}</a></li><!-- ENDIF -->
				<!-- IF S_LOAD_UNREADS --><li class="inventea-menu-item"><a href="{U_SEARCH_UNREAD}" role="menuitem">{L_SEARCH_UNREAD}</a></li><!-- ENDIF -->
				<li class="inventea-menu-item"><a href="{U_SEARCH_UNANSWERED}" role="menuitem">{L_SEARCH_UNANSWERED}</a></li>
				<li class="inventea-menu-item"><a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">{L_SEARCH_ACTIVE_TOPICS}</a></li>
			<!-- ENDIF -->

			<!-- EVENT navbar_header_quick_links_after -->
		</ul>
	</div>

	<div class="inventea-user-menu">
		<ul class="inventea-menu" role="menubar">
			<!-- EVENT overall_header_navigation_prepend -->

			<li class="inventea-menu-item"><a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem">{L_FAQ}</a></li>
			<!-- IF S_DISPLAY_SEARCH --><li class="inventea-menu-item"><a href="{U_SEARCH}" role="menuitem">{L_SEARCH}</a></li><!-- ENDIF -->

			<!-- IF not S_IS_BOT -->
				<!-- IF S_DISPLAY_MEMBERLIST --><li class="inventea-menu-item"><a href="{U_MEMBERLIST}" role="menuitem">{L_MEMBERLIST}</a></li><!-- ENDIF -->
				<!-- IF U_TEAM --><li class="inventea-menu-item"><a href="{U_TEAM}" role="menuitem">{L_THE_TEAM}</a></li><!-- ENDIF -->
			<!-- ENDIF -->

			<!-- IF U_MCP --><li class="inventea-menu-item"><a href="{U_MCP}" title="{L_MCP_SHORT}" role="menuitem">{L_MCP}</a></li><!-- ENDIF -->
			<!-- IF U_ACP --><li class="inventea-menu-item"><a href="{U_ACP}" title="{L_ACP_SHORT}" role="menuitem">{L_ACP}</a></li><!-- ENDIF -->

			<!-- EVENT overall_header_navigation_append -->
		</ul>
	</div>
</nav>
