		</div>
	</div>
</div>

<div id="footer">
	<div id="secondar_navigation"></div>
	
	<div class="copyright">
		<p>Powered by <a href="http://www.phpbb.com" title="phpBB &#8226; Creating Communities Worldwide">phpBB</a> &#169; 2000, 2002, 2005, 2007 phpBB Group.</p>
		<p>Style <em>we_universal</em> created by <a href="http://inventia.io" title="Premium phpBB styles. HTML5 & CSS3 templates.">Inventia</a>.</p>
		<!-- IF TRANSLATION_INFO --><p>{TRANSLATION_INFO}</p><!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><p>{DEBUG_OUTPUT}</p><!-- ENDIF -->
	</div>
</div>

<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

</body>
</html>