<!-- INCLUDE ucp_header.html -->

<h2>{L_USERGROUPS}</h2>

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_GROUPS_EXPLAIN}</p>
	<!-- DEFINE $SHOW_BUTTONS = 0 -->
	<!-- IF .leader -->
		<div class="forums-wrapper">
			<table class="forums">
				<thead>
					<tr>
						<th colspan="2">{L_GROUP_LEADER}</th>
						<th class="mark">{L_SELECT}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN leader -->
						<!-- IF not leader.GROUP_SPECIAL -->
							<!-- DEFINE $SHOW_BUTTONS = 1 -->
						<!-- ENDIF -->
						
						<tr class="row<!-- IF leader.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
							<td class="input bg2"><!-- IF S_CHANGE_DEFAULT --><input title="{L_CHANGE_DEFAULT_GROUP}" type="radio" name="default"<!-- IF leader.S_GROUP_DEFAULT --> checked="checked"<!-- ENDIF --> value="{leader.GROUP_ID}" /><!-- ENDIF --></td>
							<td class="forum">
								<h4><a href="{leader.U_VIEW_GROUP}" class="forumtitle"<!-- IF leader.GROUP_COLOUR --> style="color:#{leader.GROUP_COLOUR}"<!-- ENDIF -->>{leader.GROUP_NAME}</a></h4>
								<!-- IF leader.GROUP_DESC --><p>{leader.GROUP_DESC}</p><!-- ENDIF -->
								<!-- IF not leader.GROUP_SPECIAL --><p><em>{leader.GROUP_STATUS}</em></p><!-- ENDIF -->
							</td>
							<td class="bg2"><input type="radio" name="selected" value="{leader.GROUP_ID}" <!-- IF leader.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> /></td>
						</tr>
					<!-- END leader -->
				</tbody>
			</table>
		</div>
	<!-- ENDIF -->

	<!-- IF .member -->
		<div class="forums-wrapper">
			<table class="forums">
				<thead>
					<tr>
						<!-- IF S_CHANGE_DEFAULT --><th>&nbsp;</th><!-- ENDIF -->
						<th>{L_GROUP_MEMBER}</th>
						<th class="mark">{L_SELECT}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN member -->
						<!-- IF not member.GROUP_SPECIAL -->
							<!-- DEFINE $SHOW_BUTTONS = 1 -->
						<!-- ENDIF -->
						
						<tr class="row<!-- IF member.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
							<!-- IF S_CHANGE_DEFAULT --><td class="input bg2"><input title="{L_CHANGE_DEFAULT_GROUP}" type="radio" name="default"<!-- IF member.S_GROUP_DEFAULT --> checked="checked"<!-- ENDIF --> value="{member.GROUP_ID}" /></td><!-- ENDIF -->
							<td class="forum">
								<h4><a href="{member.U_VIEW_GROUP}" class="forumtitle"<!-- IF member.GROUP_COLOUR --> style="color:#{member.GROUP_COLOUR}"<!-- ENDIF -->>{member.GROUP_NAME}</a></h4>
								<!-- IF member.GROUP_DESC --><p>{leader.GROUP_DESC}</p><!-- ENDIF -->
								<!-- IF not member.GROUP_SPECIAL --><p><em>{leader.GROUP_STATUS}</em></p><!-- ENDIF -->
							</td>
							<td class="bg2"><input type="radio" name="selected" value="{member.GROUP_ID}" <!-- IF member.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> /></td>
						</tr>
					<!-- END member -->
				</tbody>
			</table>
		</div>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>	

<!-- IF .pending -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>	
		
		<div class="forums-wrapper">
			<table class="forums">
				<thead>
					<tr>
						<th>{L_GROUP_PENDING}</th>
						<th class="mark">{L_SELECT}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN pending -->
						<!-- IF not pending.GROUP_SPECIAL -->
							<!-- DEFINE $SHOW_BUTTONS = 1 -->
						<!-- ENDIF -->
						
						<tr class="row<!-- IF pending.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
							<td class="forum">
								<h4><a href="{pending.U_VIEW_GROUP}" class="forumtitle"<!-- IF pending.GROUP_COLOUR --> style="color:#{pending.GROUP_COLOUR}"<!-- ENDIF -->>{pending.GROUP_NAME}</a></h4>
								<!-- IF pending.GROUP_DESC --><p>{pending.GROUP_DESC}</p><!-- ENDIF -->
								<!-- IF not pending.GROUP_SPECIAL --><p><em>{pending.GROUP_STATUS}</em></p><!-- ENDIF -->
							</td>
							<td class="bg2"></td><dd class="mark"><input type="radio" name="selected" value="{pending.GROUP_ID}" <!-- IF pending.GROUP_SPECIAL -->disabled="diabled"<!-- ENDIF --> /><td>
						</tr>
					<!-- END pending -->
				</tbody>
			</table>
		</div>
	
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF .nonmember -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		
		<div class="forums-wrapper">
			<table class="forums">
				<thead>
					<tr>
						<th>{L_GROUP_NONMEMBER}</th>
						<th class="mark">{L_SELECT}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN nonmember -->
						<!-- IF nonmember.S_CAN_JOIN -->
							<!-- DEFINE $SHOW_BUTTONS = 1 -->
						<!-- ENDIF -->
						
						<tr class="row<!-- IF nonmember.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
							<td class="forum">
								<h4><a href="{nonmember.U_VIEW_GROUP}" class="forumtitle"<!-- IF nonmember.GROUP_COLOUR --> style="color:#{nonmember.GROUP_COLOUR}"<!-- ENDIF -->>{nonmember.GROUP_NAME}</a></h4>
								<!-- IF nonmember.GROUP_DESC --><p>{nonmember.GROUP_DESC}</p><!-- ENDIF -->
								<!-- IF not nonmember.GROUP_SPECIAL --><p><em>{nonmember.GROUP_STATUS}</em></p><!-- ENDIF -->
							</td>
							<td class="bg2"><input type="radio" name="selected" value="{nonmember.GROUP_ID}" <!-- IF not nonmember.S_CAN_JOIN -->disabled="disabled"<!-- ENDIF --> /></td>
						</tr>
					<!-- END nonmember -->
				</tbody>
			</table>
		</div>
		
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
	

	<!-- IF S_CHANGE_DEFAULT or $SHOW_BUTTONS eq 1 -->
	<fieldset>
		<!-- IF S_CHANGE_DEFAULT -->
		<div class="left-box">
			<input class="button2" type="submit" name="change_default" value="{L_CHANGE_DEFAULT_GROUP}" />
			{S_FORM_TOKEN}
		</div>
		<!-- ENDIF -->

		<!-- IF $SHOW_BUTTONS eq 1 -->
		<div class="right-box">
			<label for="action">{L_SELECT}:</label> 
			<select name="action" id="action">
				<option value="join">{L_JOIN_SELECTED}</option>
				<option value="resign">{L_RESIGN_SELECTED}</option>
				<option value="demote">{L_DEMOTE_SELECTED}</option>
			</select>&nbsp;
			<input class="button2" type="submit" name="submit" value="{L_SUBMIT}" />
			{S_FORM_TOKEN}
		</div>
		<!-- ENDIF -->
	</fieldset>
	<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->