<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_UCP_WELCOME}</p>

	<!-- IF .topicrow -->
		<div class="forums-wrapper">
			<table class="forums">
				<thead>
					<th colspan="3">{L_IMPORTANT_NEWS}</th>
				</thead>
				<tbody>
					<!-- BEGIN topicrow -->
						<tr class="row <!-- IF topicrow.S_ROW_COUNT is odd -->bg2<!-- ELSE -->bg1<!-- ENDIF -->">
							<td class="icon bg2" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC});"></td>
							<td class="topic">
								<h4><!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG}<!-- ENDIF --> <a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a></h4>
								<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
								<p>{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}</p>
							</td>
							<td class="last-post bg2">
								<p>{topicrow.LAST_POST_TIME}</p>
								<p>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} <!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF --></p>
							</td>
						</tr>
					<!-- END topicrow -->
				</tbody>
			</table>
		</div>
	<!-- ENDIF -->

	<h3>{L_YOUR_DETAILS}</h3>

	<dl class="details">
		<dt>{L_JOINED}:</dt> <dd>{JOINED}</dd>
		<dt>{L_VISITED}:</dt> <dd>{LAST_VISIT_YOU}</dd>
		<dt>{L_TOTAL_POSTS}:</dt> <dd><!-- IF POSTS_PCT -->{POSTS}<!-- IF S_DISPLAY_SEARCH --> | <strong><a href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a></strong><!-- ENDIF --><br />({POSTS_DAY} / {POSTS_PCT})<!-- ELSE -->{POSTS}<!-- ENDIF --></dd>
		<!-- IF ACTIVE_FORUM --><dt>{L_ACTIVE_IN_FORUM}:</dt> <dd><strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong><br />({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})</dd><!-- ENDIF -->
		<!-- IF ACTIVE_TOPIC --><dt>{L_ACTIVE_IN_TOPIC}:</dt> <dd><strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong><br />({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})</dd><!-- ENDIF -->
		<!-- IF WARNINGS --><dt>{L_YOUR_WARNINGS}:</dt> <dd>{WARNING_IMG} {WARNINGS}</dd><!-- ENDIF -->
	</dl>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE ucp_footer.html -->