/**
 * Common tags
 */
html,
body {
	background: #f9f9f9;
	color: #525252;
}

body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	margin: 0 0 5px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
}

h2 {
	margin-top: 0;
	margin-bottom: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	margin-top: 24px;
	margin-bottom: 8px;
	padding-bottom: 5px;
	color: #3f3f3f;
	font-size: 14px;
}

p {
	margin-bottom: 18px;
	line-height: 18px;
	font-size: 12px;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

a:link,
a:visited {
	color :#3f3f3f;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
	color: #bc2a4d;
}

/**
 * Structure
 *
 * Main structure including wrapper, header, content and footer. By default
 * forum width is fluid (with support for Responsive Web Design). To change it
 * to fixed width, remove below "max-width" property and set desired width. Next
 * remove links to both responsive.css files in overall_header.html.
 */
#wrap {
	max-width: none;
	min-width: 0;
	margin: 0;
	padding: 15px 0;
	border: 0;
	border-radius: 0;
	background: none;
}

.inventea-wrapper,
.inventea-dashboard,
.inventea-footer {
	box-sizing: border-box;
	width: 95%;
	max-width: 1170px;
	margin: auto;
}

.inventea-wrapper {
	padding: 15px 20px;
	border: 2px solid #e7e7e7;
	background: #fff;
}

.inventea-userbar {
	position: relative;
	height: 49px;
	padding-top: 14px;
	border-bottom: 0;
	color: #959595;
}

.inventea-header {
	width: 100%;
	background: #292c2f;
}

.inventea-dashboard {
	position: relative;
	min-height: 240px;
	background: url("./images/dashboard.jpg") center center no-repeat;
	background-size: cover;
}

.inventea-content {
	position: relative;
	border-top: 0;
}

.inventea-content::after {
	content: "";
	display: block;
	clear: both;
}

.inventea-footer-wrapper {
	display: block;
	box-shadow: inset 0 20px 30px -20px #d5d5d5;
	width: 100%;
	margin-top: -25px;
	border-top: 1px solid #e2e2e2;
}

.inventea-footer {
	margin: 42px auto;
	padding: 0 22px;
	color: #959595;
	line-height: 18px;
	font-size: 12px;
}

/**
 * Forum name and description
 */
.inventea-sitename {
	padding: 76px 50px 98px;
	color: #fff;
	font-size: 14px;
}

.inventea-sitename a {
	color: #fff;
}

/**
 * User menu
 *
 * Navigation bar on top of forum (above dashboard) containing notifications,
 * private messages and dropdown profile links.
 *
 * Sticky navigation on scroll provided by Headroom.js:
 * http://wicky.nillia.ms/headroom.js/
 */
ul.linklist.inventea-user-menu > li {
	margin-left: 0;
}

ul.linklist.inventea-user-menu > li + li {
	margin-right: 21px;
}

/* Notifications and PMs counters */
.inventea-user-menu > li > a > strong {
	float: left;
	margin: -3px 6px 0 -11px;
	padding: 1px 3px 2px;
	border-radius: 2px;
	background: #bc2a4d;
	color: #fff;
	line-height: 1;
	font-size: 11px;
	font-weight: normal;
}

/* Reset counters padding in responsive view */
.compact .icon-notification > a > strong,
.compact .icon-pm > a > strong {
	padding-left: 3px;
}

/* Menu items icons */
.inventea-user-menu > li > a::before {
	float: left;
	margin-right: 6px;
	color: #6b6b6b;
	font-family: FontAwesome;
	font-size: 16px;
}

.inventea-user-menu > .icon-logout > a::before { content: "\f090"; }
.inventea-user-menu > .icon-register > a::before { content: "\f234"; }
.inventea-user-menu > .icon-pm > a::before { content: "\f0e0"; }
.inventea-user-menu > .icon-notification > a::before { content: "\f0f3"; }

/* Small avatar near username */
.header-avatar img {
	max-height: 21px;
	margin: -3px 3px 0 0;
	border-radius: 3px;
}

/**
 * Forum navigation
 *
 * Main menu located in header (dashboard). Consists of two navigation lines:
 * posts/topics related links on top and general forum links on bottom.
 *
 * Displayed only on devices with screen width bigger than 700px. On devices
 * with low screen resolution it's replaced by dropdown menu with activation button
 * located in user menu.
 */
.inventea-posts-menu,
.inventea-forum-menu {
	position: absolute;
}

.inventea-posts-menu {
	right: 0;
}

.inventea-forum-menu {
	bottom: 0;
}

.inventea-menu {
	display: block;
	list-style: none;
}

.inventea-menu li {
	float: left;
	background: none;
}

/* Space between menu items */
.inventea-menu li + li {
	margin-left: 4px;
}

.inventea-menu li > a {
	display: block;
	padding: 8px 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #eee;
}

.inventea-menu li > a:focus,
.inventea-menu li > a:hover,
.inventea-menu li > a:active {
	background: rgba(0, 0, 0, 0.9);
	text-decoration: none;
}

/**
 * Breadcrumbs and footer navigation
 */
#nav-breadcrumbs {
	margin-top: 3px;
	margin-bottom: 24px;
	border: 0;
}

ul.linklist > li {
	margin: 0;
	padding: 0;
	line-height: 18px;
	font-size: 12px;
}

#nav-footer > li.rightside {
	float: left;
	margin: 0;
}

/* Items separator */
.breadcrumbs .crumb::before,
.breadcrumbs .crumb:first-child::before,
ul.linklist > li:not(.breadcrumbs)::before,
#nav-footer > li.responsive-menu::after {
	content: "/";
	float: right;
	margin: 0 10px;
	padding: 0;
	color: #cacaca;
	font-size: 14px;
	font-weight: normal;
}

ul.linklist > li:not(.breadcrumbs)::before,
#nav-footer > li.responsive-menu::after {
	float: left;
}

.breadcrumbs:last-child .crumb:last-child::before,
#nav-footer .breadcrumbs .crumb:last-child::before,
ul.linklist > li.inventea-time::before {
	content: none;
}

li.breadcrumbs span:first-child > a {
	padding: 0;
}

.breadcrumbs .crumb {
	font-weight: normal;
}

.breadcrumbs.wrapped .crumb a,
.breadcrumbs.wrapped .crumb.wrapped-medium a,
.breadcrumbs.wrapped .crumb.wrapped-tiny a {
	letter-spacing: normal;
}

/* Responsive menu hamburger link */
ul.linklist li.responsive-menu {
	margin: 0 2px;
}

ul.linklist li.responsive-menu a.responsive-menu-link {
	margin: 0 1px;
	line-height: 18px;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before {
	top: 5px;
	border-color: #525252;
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before,
ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
	border-color: #bc2a4d;
}

/* Remove links icons */
ul.linklist .small-icon {
	background: none;
}

ul.linklist .small-icon > a {
	padding: 0;
}

/**
 * Footer
 */
.inventea-footer::after {
	content: "";
	display: block;
	clear: both;
}

.inventea-footer a {
	color: #525252;
}

.inventea-footer a:focus,
.inventea-footer a:hover,
.inventea-footer a:active {
	color: #bc2a4d;
}

.inventea-credits {
	float: left;
}

#nav-footer {
	float: right;
	margin-bottom: 18px;
}

/**
 * Alerts
 */
div.rules,
p.rules {
	border: 1px solid #ebccd1;
	background-color: #f2dede;
	padding: 6px 9px;
}

div.rules {
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 18px;
	font-size: 12px;
}

p.rules img {
	padding-top: 0;
}

/* Disabled board information */
#information {
	margin-top: 0;
	margin-bottom: 24px;
}

.notice {
	margin-bottom: 15px;
	padding: 7px;
	border: 1px solid #ddd;
	background: #fbfbfb;
	line-height: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/**
 * Pagination
 */
.pagination {
	margin-top: 8px;
}

.pagination span strong,
.pagination span a,
.pagination span a:link,
.pagination span a:visited,
.pagination span a:active {
	padding: 2px 4px;
	font-size: 12px;
}

.row .pagination {
	padding: 0;
	background: none;
	font-size: 12px;
}

/* Current page */
.pagination span strong {
	border-color: #cacaca;
	background: #f2f2f2;
	color: #959595;
}

.pagination span a,
.pagination span a:link,
.pagination span a:visited {
	border-color: #b5b5b5;
	background: #e7e7e7;
	color: #525252;
}

/* Pagination on topics list */
.row .pagination span a {
	margin-right: 0;
	margin-left: 4px;
	border-color: #b5b5b5;
	background: #f9f9f9;
	color: #6b6b6b;
}

.pagination span a:focus,
.pagination span a:hover,
.pagination span a:active,
.row .pagination span a:focus,
.row .pagination span a:hover,
.row .pagination span a:active,
li.pagination span a:hover {
	border-color: #bc2a4d;
	background: #bc2a4d;
	color: #fff;
}

/* Bottom pagination on memberlist */
.section-memberlist hr + ul.linklist .pagination {
	margin-top: 5px;
}
