/* Generic elements
---------------------------------------- */
* {
	margin: 0;
	padding: 0;
}

html {
	/* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
	height: 100%;
	margin-bottom: 1px;
	font-size: 100%;
}

body {
	background: #f9f9f9;
	margin: 15px 0;
	padding: 0;
	font-size: 62.5%; /* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: Verdana, Helvetica, Arial, Sans-serif;
	color: #828282;
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	margin-top: 15px;
	margin-right: 200px;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
}

h2 {
	/* Forum header titles */
	margin-bottom: 5px;
	font-size: 2.2em;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-weight: normal;
	color: #3f3f3f;
}

.section-viewforum h2 {
	margin-bottom: 0;
}

h2.solo {
	margin-bottom: 1em;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	border-bottom: 1px solid #cccccc;
	margin: 20px 0 3px 0;
	padding-bottom: 2px;
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	color: #989898;
}

h4 {
	/* Forum and topic list titles */
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-Serif;
}

p {
	margin-bottom: 1.5em;
	font-size: 1.1em;
	line-height: 1.3em;
}

img {
	border: none;
}

hr {
	/* Also see tweaks.css */
	border: 0 none #ffffff;
	border-top: 1px solid #cccccc;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top: 1px dashed #cccccc;
	margin: 10px 0;
}

hr.divider {
	display: none;
}

p.right {
	text-align: right;
}

/* Main blocks
---------------------------------------- */
#wrapper {
	width: 100%;
	height: 100%;
}

#simple_wrapper {
	padding: 0 10px;
}

#block {
	background: #fff;
	border: 2px solid #e7e7e7;
	border-bottom: 0;
	width: 980px;
	height: 40px;
	margin: auto;
}

#quick_search {
	margin: 10px 20px 0 0;
	float: right;
}

#header {
	background: #292c2f;
	width: 100%;
	height: 190px;
}

#billboard {
	background: url("{T_THEME_PATH}/images/billboard.jpg") no-repeat;
	width: 980px;
	height: 190px;
	margin: auto;
	display: block;
}

#container {
	background: #fff;
	border-left: 2px solid #e7e7e7;
	border-right: 2px solid #e7e7e7;
	width: 980px;
	margin: auto;
	position: relative;
}

#content {
	padding: 15px 20px;
}

#footer {
	background: url("{T_THEME_PATH}/images/footer.png") repeat-x;
	width: 100%;
	height: 60px;
	margin-top: -25px;
}

#secondar_navigation {
	background: #ffffff;
	border: 2px solid #e7e7e7;
	border-top: 0;
	width: 980px;
	height: 30px;
	margin: auto;
}

/* Block above header image
---------------------------------------- */
#block ul {
	margin: 14px 20px 0 20px;
	float: left;
	list-style: none;
}

#block li {
	display: inline;
	font-size: 1.1em;
	color: #aaa;
}

/* Site name and description
---------------------------------------- */
#site_description {
	margin: 25px 0 0 55px;
	position: absolute;
}

#site_description h1 {
	font-size: 3.5em;
	color: #ffffff;
}

#site_description p {
	font-size: 1.2em;
	color: #ffffff;
}

/* Breadcrumb
---------------------------------------- */
#breadcrumb p {
	margin-bottom: 10px;
	
}

/* Quick search in header
---------------------------------------- */
.quick_search_input {
	background: url("{T_THEME_PATH}/images/quick_search_input.gif");
	border: 0;
	width: 165px;
	height: 13px;
	padding: 4px 4px 4px 8px;
	color: #c5c5c5;
	cursor: text;
}

.quick_search_button {
	background: url("{T_THEME_PATH}/images/quick_search_button.gif");
	border: 0;
	width: 23px;
	height: 21px;
	margin-left: -4px;
	padding: 0;
}

/* Primary navigation
---------------------------------------- */
#billboard ul {
	list-style: none;
}

#billboard li {
	display: inline;
	font-size: 1.1em;
}

#billboard .left {
	margin-top: 163px;
	position: absolute;
}

#billboard li a {
	background: url("{T_THEME_PATH}/images/primary_navigation.png");
	padding: 7px 10px;
	display: inline-block;
	color: #eaeaea;
}

#billboard li a:hover {
	background: url("{T_THEME_PATH}/images/primary_navigation.png") 0 100%;
	text-decoration: none;
	color: #eaeaea;
}

/* Footer
---------------------------------------- */
#footer p {
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
}

/* Font size, topic, e-mail and print icons
---------------------------------------- */
.topic_icons {
	list-style: none;
}

.topic_icons li {
	display: inline-block;
}

/* Useful classes
---------------------------------------- */
.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

.close_window {
	margin: 10px 0;
	text-align: center;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.navbar {
	background-color: #ebebeb;
	padding: 0 10px;
}

.forabg, .forabg {
	background: #b1b1b1 none repeat-x 0 0;
	margin-bottom: 4px;
	padding: 0 5px;
	clear: both;
}

.panel {
	margin-bottom: 4px;
	padding: 0 10px;
	background-color: #f3f3f3;
	color: #3f3f3f;
}

.post {
	padding: 0 10px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1	{ background-color: #f1f1f1; }
.bg2	{ background-color: #ececec; }
.bg3	{ background-color: #e1e1e1; }

.rowbg {
	margin: 5px 5px 2px 5px;
}

.ucprowbg {
	background-color: #e2e2e2;
}

.fieldsbg {
	/*border: 1px #DBDEE2 solid;*/
	background-color: #eaeaea;
}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-top {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}

span.corners-top span {
	background-image: none;
	background-position: 100% 0;
}

span.corners-bottom {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}

span.corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}

.headbg span.corners-bottom {
	margin-bottom: -1px;
}

.post span.corners-top, .post span.corners-bottom, .panel span.corners-top, .panel span.corners-bottom, .navbar span.corners-top, .navbar span.corners-bottom {
	margin: 0 -10px;
}

/* Horizontal lists
----------------------------------------*/
ul.linklist {
	display: block;
	margin: 0;
}

ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 5px;
	font-size: 1.1em;
	line-height: 2.2em;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.navlinks {
	padding-bottom: 1px;
	margin-bottom: 1px;
	border-bottom: 1px solid #FFFFFF;
	font-weight: bold;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

/* Table styles
----------------------------------------*/
table.table1 {
	/* See tweaks.css */
}

#ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1.3em;
	font-size: 1em;
	padding: 0 0 4px 3px;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody tr {
	border: 1px solid #cfcfcf;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #f6f6f6;
	color: #000;
}

table.table1 td {
	color: #6a6a6a;
	font-size: 1.1em;
}

table.table1 tbody td {
	padding: 5px;
	border-top: 1px solid #FAFAFA;
	height: 35px;
}

table.table1 tbody th {
	padding: 5px;
	border-bottom: 1px solid #000000;
	text-align: left;
	color: #333333;
	background-color: #FFFFFF;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .posts		{ text-align: center !important; width: 7%; }
table.table1 .joined	{ text-align: left; width: 19%; }
table.table1 .active	{ text-align: left; width: 19%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 25%; }
table.table1 .info div	{ width: 100%; white-space: nowrap; overflow: hidden; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td {
	padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	color: #000000;
	font-weight: normal;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts 
   Also see tweaks.css */
.column1 {
	float: left;
	clear: left;
	width: 49%;
}

.column2 {
	float: right;
	clear: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	color: #000000;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #828282;
	float: left;
	width: 65%;
}

/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #bfbfbf;
	border: 1px solid #bfbfbf;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	color: #747474;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #eeeeee;
	border: 1px solid #bababa;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagination span a:hover {
	border-color: #d2d2d2;
	background-color: #d2d2d2;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 0.9em;
	background: none 0 50% no-repeat;
}

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #d2d2d2;
}

/* Miscellaneous styles
---------------------------------------- */
#forum-permissions {
	float: right;
	width: auto;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: right;
}

.copyright {
	padding: 10px;
	text-align: center;
	line-height: 1.4em;
	color: #555555;
}

.copyright span {
	font-style: italic;
}

.small {
	font-size: 0.9em !important;
}

.titlespace {
	margin-bottom: 15px;
}

.headerspace {
	margin-top: 20px;
}

.error {
	background: #f3dddd;
	border: 1px solid #deb7b7;
	padding: 5px 10px;
	font-size: 11px;
}

div.error {
	margin-bottom: 10px;
}

.reported {
	background-color: #f7f7f7;
}

li.reported:hover {
	background-color: #ececec;
}

div.rules {
	background-color: #ececec;
	padding: 10px 15px;
	margin: 10px 0;
	line-height: 1.3em;
	color: #bcbcbc;
	font-size: 1.1em;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

p.rules {
	background-color: #f3dddd;
	border: 1px solid #deb7b7;
	background-image: none;
	padding: 5px 10px;
}

p.rules img {
	vertical-align: middle;
}

p.rules a {
	vertical-align: middle;
	clear: both;
}

#top {
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}