/**
 * Structure
 */
.inventea-wrapper,
.inventea-dashboard,
.inventea-footer {
	width: 100%;
	border: 0;
}

.inventea-wrapper {
	padding: 15px 15px 6px;
}

.inventea-statusbar {
	height: 46px;
}

.inventea-dashboard {
	min-height: inherit;
}

.inventea-footer-wrapper {
	box-shadow: none;
	margin: 0;
	border: 0;
}

.inventea-footer {
	margin: 0;
	padding: 0 15px 15px;
}

/**
 * Forums and tables
 */
.forabg,
.forumbg {
	margin-right: 0;
	margin-left: 0;
	border-radius: 5px 5px 0 0;
}

ul.topiclist dd,
ul.topiclist.forums dd.lastpost {
	display: table-cell;
}

ul.topiclist dd.topics,
ul.topiclist dd.posts,
ul.topiclist dd.lastpost {
	display: none;
}

.forabg ul.topiclist li.row dd.lastpost {
	background-color: #f1f1f1;
}

.forabg ul.topiclist li.row:nth-child(even) dd.lastpost {
	background-color: #e9e9e9;
}

@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
	ul.topiclist.forums dd.lastpost {
		display: none;
	}
}
