/**
 * Common tags
 */
html,
body {
	background: #f9f9f9;
	color: #666;
}

body {
	margin: 0;
	padding: 15px 0;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 36px;
}

a:link,
a:visited {
	color :#444;
}

a:focus,
a:hover,
a:active {
	color: #d31141;
}

@media (max-width: 768px) {
	html,
	body {
		padding: 0;
		background: #fff;
	}
}

/**
 * Structure
 *
 * Main structure including wrapper, header, content and footer. Forum width
 * can be fixed (eg. width: 970px;) or fluid (default) to better support
 * various devices.
 */
.inventia-wrapper,
.inventia-dashboard,
.inventia-footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 95%;
	max-width: 1170px;
	margin: auto;
}

.inventia-wrapper {
	padding: 15px 20px;
	border: 2px solid #e7e7e7;
	background: #fff;
}

.inventia-statusbar {
	position: relative;
	min-height: 46px;
	border-bottom: 0;
	color: #aaa;
}

.inventia-header {
	width: 100%;
	background: #292c2f;
}

.inventia-dashboard {
	position: relative;
	background: url("{T_THEME_PATH}/images/dashboard.jpg") center center no-repeat;
	background-size: cover;
}

.inventia-content {
	position: relative;
	border-top: 0;
}

.inventia-footer-wrapper {
	display: block;
	box-shadow: inset 0 20px 30px -20px #d5d5d5;
	width: 100%;
	margin-top: -25px;
	border-top: 1px solid #e2e2e2;
}

.inventia-footer {
	overflow: hidden;
	margin: 42px auto;
	padding: 0 22px;
	color: #959595;
	line-height: 18px;
	font-size: 12px;
}

@media (max-width: 768px) {
	.inventia-wrapper,
	.inventia-dashboard,
	.inventia-footer {
		width: 100%;
		border: 0;
	}
}

/**
 * Current time/last visit and quick search
 */
.inventia-quick-search {
	position: absolute;
	top: 10px;
	right: 20px;
}

.inventia-quick-search-icon {
	position: absolute;
	top: 6px;
	right: 10px;
	color: #c5c5c5;
}

.inventia-quick-search-input {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 1px 3px #ccc;
	width: 100px;
	margin: 0;
	padding: 5px 28px 5px 10px;
	outline: 0;
	border: 0;
	border-radius: 30px;
	color: #aaa;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
	transition: width 0.3s;
}

.inventia-quick-search-input:focus {
	width: 180px;
	cursor: text;
}

@media (max-width: 768px) {
	.inventia-time {
		display: none;
	}

	.inventia-quick-search {
		right: auto;
		left: 20px;
	}

	.inventia-quick-search-icon {
		right: auto;
		left: 10px;
	}

	.inventia-quick-search-input {
		width: 120px;
		padding: 5px 10px 5px 28px;
	}

	.inventia-quick-search-input:focus {
		width: 120px;
	}
}

/**
 * Forum name and description
 */
.inventia-sitename {
	padding: 65px 50px 87px;
	color: #fff;
	font-size: 14px;
}

.inventia-sitename a {
	color: #fff;
}

@media (max-width: 768px) {
	.inventia-sitename {
		padding: 40px 25px;
	}
}

/**
 * Primary navigation
 *
 * Main menu located in header. Consists of two navigation lines: forum related
 * links on top and user related links on bottom. Displayed only on devices
 * with larger screen resolutions (at least 768px width).
 */
.inventia-forum-menu,
.inventia-user-menu {
	position: absolute;
}

.inventia-forum-menu {
	right: 0;
}

.inventia-user-menu {
	bottom: 0;
}

.inventia-menu {
	display: block;
	list-style: none;
}

.inventia-menu-item {
	float: left;
}

/* Space between menu items */
.inventia-menu-item + .inventia-menu-item {
	margin-left: 4px;
}

.inventia-menu-item > a {
	display: block;
	padding: 8px 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #eee;
}

.inventia-menu-item > a:focus,
.inventia-menu-item > a:hover,
.inventia-menu-item > a:active {
	background: rgba(0, 0, 0, 0.9);
	text-decoration: none;
}

/**
 * Secondary menu
 *
 * Alternative dropdown menu displayed only on devices with small screen
 * resolutions (768px width or less).
 */
.inventia-mobile-menu {
	display: none;
}

@media (max-width: 768px) {
	.inventia-forum-menu,
	.inventia-user-menu {
		display: none;
	}
	
	.inventia-mobile-menu {
		display: block;
	}
	
	/* Remove unnecessary padding in Firefox */
	.inventia-menu-toggle::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	.inventia-menu-toggle {
		position: absolute;
		top: 8px;
		right: 20px;
		padding: 3px 4px;
		outline: 0;
		border: 1px solid #ccc;
		border-radius: 3px;
		background: #eee;
		color: #46474a;
		font-size: 21px;
	}

	.inventia-menu-toggle:hover,
	.inventia-menu-toggle:active {
		outline: 0;
		cursor: pointer;
	}
	
	/* Remove padding from Font Awesome icon */
	.inventia-menu-toggle > .fa {
		display: block;
		padding: 0;
	}
	
	/* Triangle above dropdown menu */
	.inventia-dropdown-menu::before {
		content: "";
		display: block;
		position: absolute;
		right: 10px;
		width: 0;
		height: 0;
		margin-top: -12px;
		border-style: solid;
		border-width: 0 14px 12px 14px;
		border-color: transparent transparent #292c2f transparent;
	}

	.inventia-dropdown-menu {
		position: absolute;
		z-index: 1;
		top: 54px;
		right: 10px;
		display: none;
		box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
		list-style: none;
		background: #292c2f;
	}
	
	.inventia-dropdown-menu-item {
		min-width: 190px;
	}

	.inventia-dropdown-menu-item a {
		display: block;
		padding: 12px 15px;
		border-bottom: 1px solid #46474a;
		color: #eee;
	}
	
	.inventia-dropdown-menu-item a:focus,
	.inventia-dropdown-menu-item a:hover {
		background: #343639;
		text-decoration: none;
	}

	.inventia-dropdown-menu-item .fa {
		min-width: 16px;
		margin-right: 6px;
		text-align: center;
		font-size: 14px;
	}
}

/**
 * Breadcrumbs
 */
.inventia-breadcrumbs {
	display: block;
	overflow: hidden;
	margin-bottom: 18px;
	list-style: none;
	line-height: 18px;
}

.inventia-breadcrumbs-item::before {
	content: "/";
	display: block;
	float: left;
	margin: 0 10px;
	color: #cacaca;
	font-size: 14px;
}

/* Don't display first separator */
.inventia-breadcrumbs-item:first-child::before {
	display: none;
}

.inventia-breadcrumbs-item {
	display: block;
	float: left;
}

/**
 * Footer
 */
.inventia-footer a {
	color: #595959;
}

.inventia-footer a:focus,
.inventia-footer a:hover,
.inventia-footer a:active {
	color: #d31141;
}

.inventia-footer-menu {
	float: right;
	list-style: none;
}

.inventia-footer-menu-item::before {
	content: "/";
	display: block;
	float: left;
	margin: 0 10px;
	color: #cacaca;
	font-size: 14px;
}

/* Don't display first separator */
.inventia-footer-menu-item:first-child::before {
	display: none;
}

.inventia-footer-menu-item {
	display: block;
	float: left;
}

.inventia-credits {
	float: left;
}

@media (max-width: 768px) {
	.inventia-footer-menu,
	.inventia-credits {
		float: none;
	}
	
	.inventia-footer-menu {
		margin-bottom: 36px;
	}
}
