/**
 * Common tags
 */
html,
body {
	background: #f9f9f9;
	color: #555;
}

body {
	margin: 0;
	padding: 15px 0;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 36px;
}

h2 {
	margin-bottom: 10px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

h3 {
	margin-top: 24px;
	margin-bottom: 8px;
	padding-bottom: 5px;
	color: #3f3f3f;
	font-size: 14px;
}

p {
	margin-bottom: 16px;
	line-height: 16px;
	font-size: 12px;
}

a:link,
a:visited {
	color :#3f3f3f;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
	color: #bc2a4d;
}

@media (max-width: 768px) {
	html,
	body {
		padding: 0;
		background: #fff;
	}
}

/**
 * Structure
 *
 * Main structure including wrapper, header, content and footer. Forum width
 * can be fixed (eg. width: 970px;) or fluid (default) to better support
 * various devices.
 */
.inventia-wrapper,
.inventia-dashboard,
.inventia-footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 95%;
	max-width: 1170px;
	margin: auto;
}

.inventia-wrapper {
	padding: 15px 20px;
	border: 2px solid #e7e7e7;
	background: #fff;
}

.inventia-statusbar {
	position: relative;
	min-height: 46px;
	border-bottom: 0;
	color: #999;
}

.inventia-header {
	width: 100%;
	background: #292c2f;
}

.inventia-dashboard {
	position: relative;
	background: url("{T_THEME_PATH}/images/dashboard.jpg") center center no-repeat;
	background-size: cover;
}

.inventia-content {
	position: relative;
	border-top: 0;
}

.inventia-footer-wrapper {
	display: block;
	box-shadow: inset 0 20px 30px -20px #d5d5d5;
	width: 100%;
	margin-top: -25px;
	border-top: 1px solid #e2e2e2;
}

.inventia-footer {
	overflow: hidden;
	margin: 42px auto;
	padding: 0 22px;
	color: #959595;
	line-height: 18px;
	font-size: 12px;
}

@media (max-width: 768px) {
	.inventia-wrapper,
	.inventia-dashboard,
	.inventia-footer {
		width: 100%;
		border: 0;
	}

	.inventia-wrapper {
		padding: 15px;
	}

	.inventia-footer {
		padding: 0 15px;
	}
}

/**
 * Current time/last visit and quick search
 */
.inventia-quick-search {
	position: absolute;
	top: 10px;
	right: 20px;
}

.inventia-quick-search-icon {
	position: absolute;
	top: 6px;
	right: 10px;
	color: #c5c5c5;
	font-size: 13px;
}

.inventia-quick-search-input {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 1px 3px #ccc;
	width: 100px;
	margin: 0;
	padding: 5px 28px 5px 10px;
	outline: 0;
	border: 0;
	border-radius: 30px;
	color: #999;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
	transition: width 0.3s;
}

.inventia-quick-search-input:focus {
	width: 180px;
	cursor: text;
}

@media (max-width: 768px) {
	.inventia-time {
		display: none;
	}

	.inventia-quick-search {
		right: auto;
		left: 15px;
	}

	.inventia-quick-search-icon {
		right: auto;
		left: 10px;
	}

	.inventia-quick-search-input {
		width: 120px;
		padding: 5px 10px 5px 28px;
	}

	.inventia-quick-search-input:focus {
		width: 120px;
	}
}

/**
 * Forum name and description
 */
.inventia-sitename {
	padding: 65px 50px 87px;
	color: #fff;
	font-size: 14px;
}

.inventia-sitename a {
	color: #fff;
}

@media (max-width: 768px) {
	.inventia-sitename {
		padding: 40px 25px;
	}
}

/**
 * Primary navigation
 *
 * Main menu located in header. Consists of two navigation lines: forum related
 * links on top and user related links on bottom. Displayed only on devices
 * with larger screen resolutions (at least 768px width).
 */
.inventia-forum-menu,
.inventia-user-menu {
	position: absolute;
}

.inventia-forum-menu {
	right: 0;
}

.inventia-user-menu {
	bottom: 0;
}

.inventia-menu {
	display: block;
	list-style: none;
}

.inventia-menu-item {
	float: left;
}

/* Space between menu items */
.inventia-menu-item + .inventia-menu-item {
	margin-left: 4px;
}

.inventia-menu-item > a {
	display: block;
	padding: 8px 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #eee;
}

.inventia-menu-item > a:focus,
.inventia-menu-item > a:hover,
.inventia-menu-item > a:active {
	background: rgba(0, 0, 0, 0.9);
	text-decoration: none;
}

/**
 * Secondary menu
 *
 * Alternative dropdown menu displayed only on devices with small screen
 * resolutions (768px width or less).
 */
.inventia-mobile-menu {
	display: none;
}

@media (max-width: 768px) {
	.inventia-forum-menu,
	.inventia-user-menu {
		display: none;
	}
	
	.inventia-mobile-menu {
		display: block;
	}
	
	/* Remove unnecessary padding in Firefox */
	.inventia-menu-toggle::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	.inventia-menu-toggle {
		position: absolute;
		top: 8px;
		right: 15px;
		padding: 4px 6px 2px;
		outline: 0;
		border: 0;
		border-bottom: 3px solid #ccc;
		border-radius: 5px;
		background: #e9e9e9;
		color: #46474a;
		font-size: 21px;
	}

	.inventia-menu-toggle:hover,
	.inventia-menu-toggle:active {
		outline: 0;
		cursor: pointer;
	}
	
	/* Remove padding from Font Awesome icon */
	.inventia-menu-toggle > .fa {
		display: block;
		padding: 0;
	}
	
	/* Triangle above dropdown menu */
	.inventia-dropdown-menu::before {
		content: "";
		display: block;
		position: absolute;
		right: 10px;
		width: 0;
		height: 0;
		margin-top: -12px;
		border-style: solid;
		border-width: 0 14px 12px 14px;
		border-color: transparent transparent #292c2f transparent;
	}

	.inventia-dropdown-menu {
		position: absolute;
		z-index: 1;
		top: 54px;
		right: 10px;
		display: none;
		box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
		list-style: none;
		background: #292c2f;
	}
	
	.inventia-dropdown-menu-item {
		min-width: 190px;
	}
	
	/* Remove bottom border from last menu item */
	.inventia-dropdown-menu-item:last-child a {
		border: 0;
	}

	.inventia-dropdown-menu-item a {
		display: block;
		padding: 12px 15px 12px 14px;
		border-bottom: 1px solid #46474a;
		color: #eee;
	}

	.inventia-dropdown-menu-item a:focus,
	.inventia-dropdown-menu-item a:hover {
		background: #343639;
		text-decoration: none;
	}

	.inventia-dropdown-menu-item .fa {
		margin-right: 5px;
		font-size: 14px;
	}
}

/**
 * Breadcrumbs
 */
.inventia-breadcrumbs {
	display: block;
	overflow: hidden;
	margin-bottom: 18px;
	list-style: none;
	line-height: 18px;
}

.inventia-breadcrumbs-item::before {
	content: "/";
	display: block;
	float: left;
	margin: 0 10px;
	color: #cacaca;
	font-size: 14px;
}

/* Don't display first separator */
.inventia-breadcrumbs-item:first-child::before {
	display: none;
}

.inventia-breadcrumbs-item {
	display: block;
	float: left;
}

/**
 * Footer
 */
.inventia-footer a {
	color: #595959;
}

.inventia-footer a:focus,
.inventia-footer a:hover,
.inventia-footer a:active {
	color: #bc2a4d;
}

.inventia-footer-menu {
	float: right;
	list-style: none;
}

.inventia-footer-menu-item::before {
	content: "/";
	display: block;
	float: left;
	margin: 0 10px;
	color: #cacaca;
	font-size: 14px;
}

/* Don't display first separator */
.inventia-footer-menu-item:first-child::before {
	display: none;
}

.inventia-footer-menu-item {
	display: block;
	float: left;
}

.inventia-credits {
	float: left;
}

@media (max-width: 768px) {
	.inventia-footer-menu,
	.inventia-credits {
		float: none;
	}
	
	.inventia-footer-menu {
		margin-bottom: 36px;
	}
}

/**
 * Forums and tables
 *
 * Overwrite default categories/forums layout and common tables settings.
 * Define zebra background colours for even/odd rows and cells.
 */
.forabg,
.forumbg {
	margin-bottom: 15px;
	padding: 0;
	border-bottom: 3px solid #cdcdcd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #4c4c4c;
}

ul.forums,
ul.topics,
table.table1 tbody {
	background: #fafcfe;
}

/* Row (single forum) */
ul.topiclist li {
	color: #555;
}

li.row,
table.table1 tbody tr {
	border: 0;
	border-top: 1px solid #fff;
}

ul.topics .bg1,
ul.topics .bg2,
li.row:hover,
table.table1 tr.bg1,
table.table1 tr.bg2,
table.table1 tbody tr:hover {
	background: none;
}

/* Different background for even rows */
li.row:nth-child(even),
table.table1 tbody tr:nth-child(even) {
	background: #f2f2f2;
}

li.reported,
li.reported:hover {
	background: #f7ecef !important;
}

li.row strong {
	color: inherit;
	font-weight: bold;
}

ul.topiclist li.header dl,
ul.topiclist li.row dl {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0;
}

/* Cell  */
ul.topiclist dt,
ul.topiclist dd,
table.table1 tbody td {
	padding: 7px;
	border: 0;
	vertical-align: middle;
	line-height: 16px;
	font-size: 12px;
}

ul.topiclist dt,
ul.topiclist dd {
	display: table-cell;
	float: none;
}

/* Different background in odd columns */
ul.topiclist li.row dt:nth-child(odd),
ul.topiclist li.row dd:nth-child(odd),
table.table1 tbody td:nth-child(even) {
	background-color: #f1f1f1;
}

ul.topiclist li.row:nth-child(even) dt:nth-child(odd),
ul.topiclist li.row:nth-child(even) dd:nth-child(odd),
table.table1 tbody tr:nth-child(even) td:nth-child(even) {
	background-color: #e9e9e9;
}

ul.topiclist li.reported dt:nth-child(odd),
ul.topiclist li.reported dd:nth-child(odd) {
	background-color: #f4e1e6 !important;
}

dd.lastpost span,
ul.topiclist dd.searchby span,
ul.topiclist dd.info span,
ul.topiclist dd.time span,
dd.redirect span,
dd.moderation span {
	padding: 0;
}

/* Category header */
ul.topiclist li.header dt,
ul.topiclist li.header dd,
table.table1 thead th {
	padding: 10px 7px;
	text-align: center;
	line-height: 16px;
	font-weight: normal;
}

ul.topiclist li.header dt {
	width: auto;
}

/* Subforums list on index */
ul.topiclist li.row a.subforum {
	background-image: none;
	background-position: 0 50%;
	background-repeat: no-repeat;
	position: relative;
	white-space: nowrap;
	padding: 0 0 0 12px;
}

ul.topiclist li.row a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

/* Specific colums settings */
ul.topiclist li.row dt {
	width: 55px;
	padding: 0;
	background-position: center center;
}

dd.topics,
dd.posts {
	width: 120px;
}

dd.lastpost {
	width: 21%;
}

/* Last post author and date icons */
dd.lastpost .fa {
	color: #6b6b6b;
}

dd.redirect {
	width: 21%;
	width: calc(21% + 120px + 14px);
	text-align: center;
}

/* Forums layout related links */
#search-box a:hover,
.navbg a:hover,
.forumbg .header a:hover,
.forabg .header a:hover,
th a:hover {
	color: #fff;
}

@media (max-width: 768px) {
	ul.topiclist dd.topics,
	ul.topiclist dd.posts,
	ul.topiclist dd.lastpost,
	ul.topiclist dd.redirect {
		display: none;
	}
}

/**
 * Tables
 *
 * Overwrite specific tables settings.
 */
.forumbg-table > .inner {
	margin: 0;
}

table.table1 {
	border-collapse: collapse;
}

table.table1 td {
	color: #555;
}

/**
 * Panels
 */
.panel {
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 7px;
	background-color: #f1f1f1;
	color: #555;
}

.bg1 {
	background-color: #ececec;
}

.bg2 {
	background-color: #f4f4f4;
}

.bg3 {
	background-color: #ececec;
}

.content {
	color: #555;
}

/* Base font in panels */
fieldset,
dl.faq,
.content dl.faq,
.content p,
.panel p {
	line-height: 16px;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

dl.faq,
.content dl.faq,
.content p {
	line-height: 18px;
}

/* Headers in panels */
.panel h2,
.panel h3,
.content h2 {
	margin-bottom: 10px;
	padding-bottom: 8px;
	color: #3f3f3f;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
}

h2.solo {
	margin-bottom: 10px;
}

/**
 * FAQ
 */
dl.faq {
	margin-top: 7px;
	margin-bottom: 16px;
}

dl.faq:last-child {
	margin-bottom: 7px;
}

dl.faq dt {
	color: #3f3f3f;
}

@media (max-width: 768px) {
	.column1,
	.column2 {
		float: none;
		width: 100%;
	}

	.column1 dl.faq:last-child {
		margin-bottom: 16px;
	}
}

/**
 * Posts and private messages
 */
.postbody {
	float: right;
}

.postprofile {
	float: left;
	border: 0;
	border-right: 1px solid #fff;
}

.pm .postprofile {
	border: 0;
	border-right: 1px solid #ddd;
}

.online {
	margin-top: 0;
}

.online dt {
	margin-top: 5px;
}

.attachbox {
	clear: right;
}

/**
 * Buttons
 */
.topic-actions {
	margin-bottom: 14px;
}

.buttons div {
	width: auto !important;
	height: auto !important;
}

.buttons div a {
	display: block;
	width: auto;
	padding: 8px 10px 5px;
	border-bottom: 3px solid #ccc;
	border-radius: 5px;
	background: #e9e9e9;
	color: #6b6b6b;
	text-transform: uppercase;
	line-height: 17px;
	font-size: 12px;
}

.buttons div a:focus,
.buttons div a:hover {
	border-color: #91203c;
	background: #bc2a4d;
	color: #fff;
	text-decoration: none;
}

.buttons div span::before {
	display: block;
	margin-top: 1px;
	margin-right: 7px;
	font-family: FontAwesome;
	font-size: 14px;
}

.buttons div span {
	position: static;
	float: left;
	width: auto;
	height: auto;
	background: none;
}

.forwardpm-icon span::before {
	content: "\f064";
}

.locked-icon span::before {
	content: "\f023";
}

.pmreply-icon span::before,
.reply-icon span::before {
	content: "\f112";
}

.newpm-icon span::before, 
.post-icon span::before {
	content: "\f055";
}

/**
 * Forms
 */
fieldset {
	margin-bottom: 10px;
}

label,
dd label {
	color: #555;
}

/**
 * Miscellaneous
 */
.inventia-no-items {
	text-align: center;
}

/* Remove image rounded corners to use border-radius later */
span.corners-top,
span.corners-bottom,
span.corners-top span,
span.corners-bottom span {
	display: none;
	background: none;
}

ul.linklist li {
	margin-bottom: 8px;
	line-height: 18px;
	font-size: 12px;
}

/* Space between last category and quick login */
.headerspace {
	margin-top: 30px;
}

.top2 {
	display: inline-block;
	margin-top: 8px;
}
